<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!-- 开启驼峰命名自动映射：create_time -> createTime -->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!-- 给实体类起别名，简化 mapper.xml 书写 -->
    <typeAliases>
        <package name="com.example.pojo"/>
    </typeAliases>


</configuration>