<?xml version="1.0" encoding="UTF-8"?>
<!-- 头部约束：必须写，固定格式 -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 👇 在这里写你的 Bean 配置 -->
    <bean id="hello" class="com.example.Hello">
        <property name="str" value="Spring"/>
    </bean>

</beans>